header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  background: #0A0A0A;
}

header .logo img {
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.title h1{
  font-size: 16px;
}

.links-nav a {
  margin: 35px;
  text-decoration: none;
  background: white;
  padding: 7.5px 12px 7.5px 12px;
  border-radius: 10px;
  color: black;
  font-size: 12px;
}
